img{
    width: 150px;
    height: 125px;
    opacity: 0.4;
}
tr{
    text-align: center;
}
tbody, td, tfoot, th, thead, tr{
    border-width: 2px;
}
td {
    padding: 10px;
}
.left-align{
    text-align: left;
}
tr{
    position: relative;
}